@charset "UTF-8";

*{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image:linear-gradient(to bottom, #C8BEB8, #3A1F3D);
  background-attachment: fixed;
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px #215153ad;
  width: 600px;
  padding: 10px;
  margin: auto;
}

h1 {
  color: #F36A2E;
  text-align: center;
  text-shadow: 1px 1px 3px #6b2e14a8;
}

h2 {
  color: #2E6F73;
}
p {
  text-align: justify;
  
}